.square{
  width: 12%;
  height: 30px;
  float: left;
}
#boardZone{
  max-height: inherit;
  height: 100%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
body{
  min-height: 100%;
}
html{
  min-height: 100%;
}
.piece{
  max-width: 100%;
}
div.active{
  background-color: darkgoldenrod !important;
}
.dark{
  background-color: darkred;
}
.light{
  background-color: brown;
}
body{
  background-color: gray;
}
